@import "../assets/globalStyles.scss";

@mixin flexBox($fDirection: row, $jcontent: center, $aitems: center) {
  display: flex;
  justify-content: $jcontent;
  align-items: $aitems;
  flex-direction: $fDirection;
}

.quiz--box {
  @include flexBox();
}
.quiz--container {
  width: 40%;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 0.6rem;
}
.heading--container {
  background-color: rgb(70, 68, 229);
  // text-align: center;
  display: flex;
  @include flexBox(column);
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.6rem;
  color: white
}
.score--board {
  @include flexBox(row, space-between);
  background-color: rgb(174, 174, 174);
  border-radius: 0.6rem;
  padding: 1rem;
}
.questions--box {
  @include flexBox(column, start, flex-start);
  gap: 1rem;
  font-size: 1.2rem;
}
.options {
  font-size: 1rem;
  border: 2px solid grey;
  border-radius: 0.6rem;
  width: 100%;
  padding: 1rem;
}
.option {
  margin: 0 1rem;
}

.option--list-item {
  list-style: none;
  padding: 1rem;
  margin: 0.6rem;
  border: 2px solid grey;
  border-radius: 0.6rem;
  transition: all 0.3s ease-in;

  &:hover {
    background-color: rgba(215, 208, 208, 0.589);
    transition: all 0.3s ease-out;
  }
}

.option--label input[type="radio"] {
  appearance: none;
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  color: green;

  &:checked {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0.5rem;
      height: 0.5rem;
      background-color:rgb(70, 68, 229) ;
      border-radius: 50%;
    }
  }
}
.correct{
  background-color: rgba(105, 237, 93, 0.589);
}
.incorrect{
  background-color: rgba(237, 67, 67, 0.589);
}
